{% extends 'base.html.twig' %}

{% block title %}Episode {{ episode.number }}{% endblock %}

{% block body %}
    <h1>Episode {{ episode.number }} : {{ episode.title }}</h1>
    <div>
        <p><strong>{{ episode.title }}</strong> Episode n°{{ episode.number }}</p>
        <p>{{ episode.synopsis }}</p>
        {% if app.user %}
            {{ include('comment/_form.html.twig') }}
        {% endif %}
    </div>

    {% for comment in episode.comments %}
            <p>{{ comment.comment }}</p>
    {% endfor %}
    <!--<a href="../program/season/">-->
    <a href="{{ path('wild_season', { 'id': episode.seasonId.id}) }}">
        Retour à la saison
    </a>
    <a href="{{ path('wild_program', {'programTitle': episode.seasonId.programId.title}) }}">

    Retour au program
    </a>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}