{% extends 'base.html.twig' %}

{% block title %}Season {{ seasons.number }}{% endblock %}

{% block body %}
    <h1>Touts les épisodes de la saison : {{ seasons.number }}</h1>
    {% for episode in episodes %}
        <div>
            <a href="../../episode/{{ episode.id }}"><p><strong>{{ episode.title }}</strong> Episode n°{{ episode.number }}</p></a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}